version: '3.8'

services:
  freeswitch:
    image: safarov/freeswitch:latest
    container_name: freeswitch
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - ./config/directory:/etc/freeswitch/directory:ro
      - freeswitch-sounds:/usr/share/freeswitch/sounds
      - freeswitch-recordings:/var/lib/freeswitch/recordings
      - freeswitch-logs:/var/log/freeswitch
    environment:
      - FREESWITCH_EXTERNAL_IP=198.19.249.149
      - FREESWITCH_LOCAL_IP=198.19.249.149
    cap_add:
      - SYS_NICE

volumes:
  freeswitch-sounds:
  freeswitch-recordings:
  freeswitch-logs:
